.containerMain {
  min-height: 100vh;
}

/*=== CONTENIDO SOBRE MÍ ===*/
.containerAboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  border-radius: 12px;
  padding: 3rem 2rem;
  width: 80%;
  margin: 1rem auto;
}

.contentAboutMe {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.contentTitleAboutMe h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
  background: linear-gradient(
    90deg,
    var(--violet-300),
    var(--violet-400),
    var(--violet-500),
    var(--violet-300),
    var(--violet-400),
    var(--violet-500)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
  font-weight: bold;
}

.textAboutMe {
  font-size: 1.3rem;
  line-height: 1.6;
   color: var(--gray-100); 
  margin: 0;
}

.contentTitleExperience h3 {
  font-size: 1.5rem;
}

.contentTitleGoals h3 {
  font-size: 1.5rem;
}

.contentTitleExperience h3,
.contentTitleGoals h3 {
  color: var(--violet-200);
  margin-bottom: 1rem;
}

.textAboutMe {
  font-size: 1.1rem;
  line-height: 1.7;
}

.list {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.list li {
  margin-bottom: 0.5rem;
}

.contentImgAboutMe img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--gray-600);
  box-shadow: 0 15px 20px var(--gray-600);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.contentImgAboutMe img:hover {
  box-shadow: 0 0px 20px var(--gray-600);
}

.contentImgAboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=== CONTENIDO EDUCACIÓN ===*/
.containerEducation {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.contentEducation {
  width: 80%;
  position: relative;
  margin-top: 2rem;
}

.contentTitleEducation {
  text-align: center;
  margin-bottom: 100px;
}

.contentTitleEducation h2 {
  font-size: 4rem;
  color: var(--gray-200);
}

.contentCardEducation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contentCardEducation::before {
  content: "";
  position: absolute;
  width: 3px;
  background: linear-gradient(180deg, var(--violet-600), var(--ligth-blue));
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  opacity: 0.7;
}

.contentCardEducation > article {
  position: relative;
  width: 45%;
  margin: 1.5rem 0;
  transition: transform 0.3s ease;
}

.contentCardEducation > article:nth-child(odd) {
  align-self: flex-start;
}

.contentCardEducation > article:nth-child(even) {
  align-self: flex-end;
}

.contentCardEducation > article {
  position: relative;
}

.contentCardEducation > article::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1.5px;
  background: var(--violet-300); 
}

.contentCardEducation > article::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: radial-gradient(
    circle,
    var(--violet-300) 0%,
    var(--violet-400) 70%,
    transparent 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 10px var(--violet-300);
}

/*=== RESPONSIVE ===*/