.containerMain {
  min-height: 100vh;
}

/*=== CONTENIDO SOBRE MÍ ===*/
.containerAboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  padding: 3rem 2rem;
  width: 85%;
  margin: 1rem auto;
}

.contentAboutMe {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.contentTitleAboutMe h2 {
  font-size: 3rem;
  color: var(--violet-300);
  font-weight: bold;
  margin-bottom: 8px;
}

.textAboutMe {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--gray-100);
  margin: 0;
}

.contentTitleExperience h3 {
  font-size: 1.5rem;
}

.contentTitleGoals h3 {
  font-size: 1.5rem;
}

.contentTitleExperience h3,
.contentTitleGoals h3 {
  color: var(--violet-200);
  margin-bottom: 1rem;
}

.textAboutMe {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: justify;
}

.list {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.list li {
  margin-bottom: 0.5rem;
}

.contentImgAboutMe img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--gray-600);
  box-shadow: 0 15px 20px var(--gray-600);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.contentImgAboutMe img:hover {
  box-shadow: 0 0px 20px var(--gray-600);
}

.contentImgAboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=== CONTENIDO EDUCACIÓN ===*/
.containerEducation {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.contentEducation {
  width: 80%;
  position: relative;
  margin-top: 2rem;
}

.contentTitleEducation {
  text-align: center;
  margin-bottom: 100px;
}

.contentTitleEducation h2 {
  font-size: 4rem;
  color: var(--gray-200);
}

.contentCardEducation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 20px;
}

.contentCardEducation::before {
  content: "";
  position: absolute;
  width: 3px;
  background: linear-gradient(180deg, var(--violet-600), var(--ligth-blue));
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  opacity: 0.7;
}

.contentCardEducation > article {
  position: relative;
  width: 45%;
  margin: 1.5rem 0;
  transition: transform 0.3s ease;
}

.contentCardEducation > article:nth-child(odd) {
  align-self: flex-start;
}

.contentCardEducation > article:nth-child(even) {
  align-self: flex-end;
}

.contentCardEducation > article {
  position: relative;
}

.contentCardEducation > article::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1.5px;
  background: var(--violet-300);
}

.contentCardEducation > article::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: radial-gradient(
    circle,
    var(--violet-300) 0%,
    var(--violet-400) 70%,
    transparent 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 10px var(--violet-300);
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 1668px) {
  /*=== CONTENIDO SOBRE MÍ ===*/
  .containerAboutMe {
    width: 90%;
  }

  .contentImgAboutMe img {
    width: 320px;
    height: 320px;
  }

  .textAboutMe {
    font-size: 1.2rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/

  .contentEducation {
    width: 90%;
  }
}

@media screen and (max-width: 1498px) {
  .contentImgAboutMe img {
    width: 300px;
    height: 300px;
  }

  .textAboutMe {
    font-size: 1rem;
  }

  .contentTitleExperience h3 {
    font-size: 1.3rem;
  }

  .contentTitleGoals h3 {
    font-size: 1.3rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
}

@media screen and (max-width: 1210px) {
  .containerAboutMe {
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem 1rem;
  }

  .textAboutMe {
    font-size: 1rem;
  }

  .contentTitleExperience h3 {
    font-size: 1.2rem;
  }

  .contentTitleGoals h3 {
    font-size: 1.2rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
}

@media screen and (max-width: 1024px) {
  .containerAboutMe {
    flex-direction: column;
    gap: 3rem;
    width: 85%;
    padding: 2rem 1rem;
  }

  .contentImgAboutMe img {
    width: 300px;
    height: 300px;
  }

  .contentTitleAboutMe h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .contentTitleExperience h3,
  .contentTitleGoals h3 {
    text-align: center;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
  .containerEducation {
    margin-top: 120px;
  }

  .contentTitleEducation {
    margin-bottom: 90px;
  }

  .contentTitleEducation h2 {
    font-size: 3rem;
  }

  .contentCardEducation {
    align-items: flex-start; 
  }

  .contentCardEducation::before {
    left: 0%; 
    transform: none;
  }

  .contentCardEducation > article {
    width: 95%; 
    align-self: flex-start; 
  }

  .contentCardEducation > article:nth-child(odd),
  .contentCardEducation > article:nth-child(even) {
    align-self: flex-start;
  }

  .contentCardEducation > article::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-190%, -50%);
    width: 14px;
    height: 14px;
    background: radial-gradient(
      circle,
      var(--violet-300) 0%,
      var(--violet-400) 70%,
      transparent 100%
    );
    border-radius: 50%;
    box-shadow: 0 0 10px var(--violet-300);
  }

  .contentCardEducation > article::after {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  .containerAboutMe {
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .containerAboutMe {
    flex-direction: column;
    gap: 3rem;
    padding: 0rem 1rem;
  }

  .contentImgAboutMe img {
    width: 250px;
    height: 250px;
  }

  .contentTitleAboutMe h2 {
    font-size: 2rem;
    text-align: center;
  }

  .contentTitleExperience h3,
  .contentTitleGoals h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .textAboutMe {
    font-size: 0.95rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
  .contentTitleEducation h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 584px) {
  .containerAboutMe {
    gap: 3rem;
  }

  .contentImgAboutMe img {
    width: 200px;
    height: 200px;
  }

  .contentTitleExperience h3,
  .contentTitleGoals h3 {
    font-size: 1.1rem;
  }

  .textAboutMe {
    font-size: 0.9rem;
  }

  .list {
    padding-left: 0.8rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
}

@media screen and (max-width: 480px) {
  .containerAboutMe {
    gap: 3rem;
  }

  .contentImgAboutMe img {
    width: 180px;
    height: 180px;
  }

  .contentTitleAboutMe h2 {
    font-size: 1.5rem;
  }

  .contentTitleExperience h3,
  .contentTitleGoals h3 {
    font-size: 1rem;
  }

  .textAboutMe {
    font-size: 0.9rem;
  }

  .list {
    padding-left: 0.8rem;
  }

  /*=== CONTENIDO EDUCACIÓN ===*/
  .containerEducation {
    margin-top: 60px;
  }

  .contentTitleEducation h2 {
    font-size: 2rem;
  }
}
