.containerHome {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentHome {
  padding: 10px;
  width: 60%;
}

.contentNames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 10px;
}

.titleName {
  font-size: 7rem;
  background: linear-gradient(
    90deg,
    var(--violet-200),
    var(--violet-300),
    var(--violet-400),
    var(--violet-200),
    var(--violet-300),
    var(--violet-400)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: float 2s ease-in-out infinite,
    moveGradient 8s ease-in-out infinite alternate;
  background-size: 400% 400%;
}

.titleLastName {
  font-size: 8rem;
  background: var(--gray-400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.subTitle {
  font-size: 2.5rem;
  color: var(--gray-300);
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--gray-400);
  animation: typing 3s steps(28) forwards, blink 0.8s infinite;
}

.contentActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 10px;
}

.contentIcons {
  margin-top: 50px;
  display: flex;
  gap: 5vw;
}

.iconWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  font-size: 60px;
  color: var(--color);
  z-index: 2;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconWrapper:hover .icon {
  color: var(--black);
}

.reflection {
  font-size: 60px;
  color: var(--color);
  opacity: 0.3;
  transform: scaleY(-1);
  filter: blur(1px);
  margin-top: 10px;
  z-index: 1;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    transparent
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2), transparent);
}

.iconWrapper::before {
  content: "";
  position: absolute;
  top: -35%;
  width: 100px;
  height: 100px;
  background: var(--color);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.3s ease, transform 0.4s ease;
  z-index: 0;
}

.iconWrapper::after {
  content: "";
  position: absolute;
  top: -25%;
  width: 120px;
  height: 120px;
  background: var(--color);
  border-radius: 50%;
  opacity: 0;
  filter: blur(60px); /* halo suave */
  transition: opacity 0.4s ease, transform 0.5s ease;
  transform: scale(0.8);
  z-index: 0;
}

.iconWrapper:hover::before {
  opacity: 0.9;
  transform: scale(1);
}

.iconWrapper:hover::after {
  opacity: 0.7;
  transform: scale(1.1);
}

.contentIcons {
  display: flex;
  gap: 5vw;
}

.contentIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.icon {
  font-size: 60px;
  color: var(--color);
  z-index: 2;
  transition: color 0.3s ease;
}

.iconWrapper:hover .icon {
  color: var(--black);
}

.reflection {
  font-size: 60px;
  color: var(--color);
  opacity: 0.3;
  transform: scaleY(-1);
  filter: blur(1px);
  margin-top: 10px;
  pointer-events: none;
}

.linkedin {
  --color: var(--colorLinkedin);
}

.github {
  --color: var(--colorGithub);
}

.buttonDownload {
  position: relative;
  display: inline-block;
  font-weight: 600;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--violet-400);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--violet-400);
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--violet-400);
}

.buttonDownload:hover {
  color: var(--gray-200);
  box-shadow: inset 0 -100px 0 0 var(--violet-400);
}

.buttonDownload:hover svg {
  color: var(--gray-200);
}

.buttonDownload:active {
  transform: scale(0.9);
}

.buttonDownload svg {
  color: var(--violet-400);
  transition: ease-out 0.5s;
}

.buttonDownload span {
  color: var(--gray-200);
  margin-left: 15px;
}

/*=== ANIMACIONES ===*/
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 28ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 1024px) {
  .contentHome {
    width: 80%;
  }

  .titleName {
    font-size: 6rem;
  }

  .titleLastName {
    font-size: 7rem;
  }

  .subTitle {
    font-size: 2rem;
  }

  .icon {
    font-size: 50px;
  }

  .linkedin:hover .icon {
    color: var(--colorLinkedin-hover);
  }

  .github:hover .icon {
    color: var(--colorGithub-hover);
  }

  .iconWrapper::before {
    top: 0%;
    width: 0px;
    height: 0px;
  }

  .iconWrapper::after {
    top: 0%;
    width: 0px;
    height: 0px;
  }

  .reflection {
    font-size: 50px;
  }

  .buttonDownload {
    font-size: 16px;
    padding: 12px 25px;
  }

  .contentIcons {
    gap: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .contentHome {
    width: 90%;
  }

  .titleName {
    font-size: 5rem;
  }

  .titleLastName {
    font-size: 6rem;
  }

  .subTitle {
    font-size: 1.8rem;
  }

  .icon {
    font-size: 50px;
  }

  .reflection {
    font-size: 50px;
  }

  .contentIcons {
    gap: 8vw;
  }

  .buttonDownload {
    font-size: 15px;
    padding: 10px 22px;
  }
}

@media screen and (max-width: 560px) {
  .titleName {
    font-size: 4rem;
  }

  .titleLastName {
    font-size: 5rem;
  }

  .subTitle {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 40px;
  }

  .reflection {
    font-size: 40px;
  }

  .buttonDownload {
    font-size: 14px;
    padding: 10px 15px;
  }

  .contentIcons {
    gap: 10vw;
  }
}

@media screen and (max-width: 480px) {
  .titleName {
    font-size: 3.5rem;
  }

  .titleLastName {
    font-size: 4rem;
  }

  .subTitle {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 40px;
  }

  .reflection {
    font-size: 40px;
  }

  .buttonDownload {
    font-size: 14px;
    padding: 10px 15px;
  }

  .contentIcons {
    gap: 8vw;
  }
}

@media screen and (max-width: 430px) {
  .titleName {
    font-size: 3rem;
  }

  .titleLastName {
    font-size: 4rem;
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .icon {
    font-size: 40px;
  }

  .reflection {
    font-size: 40px;
  }

  .buttonDownload {
    font-size: 14px;
    padding: 10px 15px;
  }

  .contentIcons {
    gap: 10vw;
  }
}

@media screen and (max-width: 374px) {
  .titleName {
    font-size: 2.5rem;
  }

  .titleLastName {
    font-size: 3rem;
  }

  .subTitle {
    font-size: 1.1rem;
  }

  .icon {
    font-size: 35px;
  }

  .reflection {
    font-size: 35px;
  }

  .buttonDownload {
    font-size: 13px;
    padding: 8px 12px;
  }

  .contentIcons {
    gap: 10vw;
  }
}

@media screen and (max-width: 310px) {
  .subTitle {
    font-size: 0.9rem;
  }

  .buttonDownload {
    font-size: 12px;
    padding: 8px 12px;
  }

  .contentIcons {
    gap: 12vw;
  }
}
