.containerCard {
  position: relative;
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-bottom: 30px;
  padding: 20px;
}

.contentTitle h3 {
  font-size: 3rem;
  background: linear-gradient(
    90deg,
    var(--gray-200),
    var(--gray-300),
    var(--gray-400),
    var(--gray-200),
    var(--gray-300),
    var(--gray-400)
  );
  -webkit-background-clip: text; /* Aplica el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
  background-clip: text; /* Compatibilidad con navegadores */
  color: transparent; /* Asegura que el color del texto sea invisible */
  font-weight: bold;
  animation: float 2s ease-in-out infinite,
    moveGradient 8s ease-in-out infinite alternate;
  background-size: 400% 400%; /* tamaño grande para el movimiento */
  text-align: center;
}

.mainImageProject {
  cursor: pointer;
  transition: transform 0.7s ease, rotate 0.7s ease, filter 0.5s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  filter: brightness(0.6);
}

.mainImageProject:hover {
  transform: scale(1.05) rotate(1deg);
  filter: brightness(1);
}

.mainImageProject:hover img {
  border-radius: 20px;
}

.mainImageProject img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border: none;
  border-radius: 20px;
}

.contentButton {
  bottom: 1rem;
  width: 100%;
  display: flex;
  position: absolute;
  margin-bottom: 10px;
  justify-content: center;
}

.contentButton button {
  background-color: var(--beige-100);
  color: var(--black);
  font-weight: 600;
  width: 8vw;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mainImageProject:hover .contentButton button {
  background-color: var(--beige-200);
}

.techOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.mainImageProject:hover .techOverlay {
  opacity: 1;
  transform: translateY(0);
}

.contentTech {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  max-width: 90%;
}

.contentTech img {
  width: 50px;
  height: 50px;
  background: var(--blue-100);
  padding: 8px 16px;
  transition: background 0.3s ease;
}

.contentTech img:hover {
  background: var(--blue-400);
}

.iconWrapper {
  position: relative;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

.iconWrapper::after {
  content: attr(data-text);
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--blue-400);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.iconWrapper:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.mainImageProject::after,
.mainImageProject::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--blue-600)
  );
  z-index: -1;
  padding: 5px;
  border-radius: 20px;
  animation: 4s spin linear infinite;
}

.mainImageProject::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.mainImageProject::before,
.mainImageProject::after {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mainImageProject:hover::before,
.mainImageProject:hover::after {
  opacity: 1;
}

/*=== ANIMACIONES ===*/
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 1668px) {
  .contentButton button {
    width: 10vw;
  }
}

@media screen and (max-width: 1521px) {
  .containerCard {
    max-width: 70vw;
    padding: 16px;
  }
}

@media screen and (max-width: 1254px) {
  .containerCard {
    max-width: 80vw;
  }

  .contentButton button {
    width: 13vw;
  }
}

@media screen and (max-width: 1024px) {
  .containerCard {
    max-width: 80vw;
    padding: 16px;
  }

  .contentTitle h3 {
    font-size: 2.5rem;
  }

  .mainImageProject img {
    height: 60vh;
  }

  .contentButton button {
    width: 25vw;
    font-size: 0.9rem;
  }

  .contentTech img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 898px) {
  .mainImageProject img {
    height: 50vh;
  }

  .contentTech img {
    width: 40px;
    height: 40px;
  }
}

/* Móviles grandes */
@media screen and (max-width: 768px) {
  .containerCard {
    max-width: 85vw;
    gap: 3vh;
  }

  .contentTitle h3 {
    font-size: 2rem;
  }

  .mainImageProject img {
    height: 45vh;
  }

  .contentButton button {
    width: 50%;
    font-size: 0.85rem;
  }

  .contentTech img {
    width: 40px;
    height: 40px;
  }
}

/* Móviles grandes */
@media screen and (max-width: 702px) {
  .contentTitle h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 599px) {
  .contentTitle h3 {
    font-size: 1.6rem;
  }

  .containerCard {
    max-width: 85vw;
    gap: 3vh;
  }

  .mainImageProject img {
    height: 40vh;
  }

  .contentButton button {
    width: 30%;
    font-size: 0.85rem;
  }

  .contentTech img {
    width: 30px;
    height: 30px;
  }
}

/* Móviles pequeños */
@media screen and (max-width: 488px) {
  .containerCard {
    max-width: 90vw;
    gap: 2vh;
  }

  .contentTitle h3 {
    font-size: 1.5rem;
  }

  .mainImageProject img {
    height: 30vh;
  }

  .contentButton button {
    width: 30%;
    padding: 0.6rem 1.4rem;
    font-size: 0.8rem;
  }

  .contentTech {
    gap: 0px;
  }

  .contentTech img {
    width: 28px;
    height: 28px;
  }

  .iconWrapper::after {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  .containerCard {
    max-width: 90vw;
    gap: 2vh;
  }

  .contentTitle h3 {
    font-size: 1.3rem;
  }

  .mainImageProject img {
    height: 25vh;
  }

  .contentTech img {
    width: 26px;
    height: 26px;
  }

  .contentButton button {
    width: 30%;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }

  .iconWrapper::after {
    font-size: 12px;
  }
}

@media screen and (max-width: 378px) {
  .containerCard {
    max-width: 80vw;
    gap: 2vh;
  }

  .contentTitle h3 {
    font-size: 1.3rem;
  }

  .mainImageProject img {
    height: 23vh;
  }

  .contentTech img {
    width: 20px;
    height: 20px;
  }

  .contentButton button {
    width: 30%;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }

  .iconWrapper::after {
    font-size: 12px;
  }
}

@media screen and (max-width: 338px) {
  .contentButton button {
    width: 40%;
  }
}
