.containerContact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
}

.containerContact h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.containerContact h2 span {
  color: #d32f2f;
}

.contentForm {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
}

.form {
  background: #222;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.inputGroup,
.textareaGroup {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputGroup label,
.textareaGroup label {
  font-size: 1.1rem;
  color: #ccc;
}

.inputGroup span,
.textareaGroup span {
  color: #d32f2f;
}

.inputGroup input,
.textareaGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d32f2f;
  color: #fff;
  padding: 0.5rem 0;
  outline: none;
  font-size: 1.1rem;
}

.textareaGroup textarea {
  resize: none;
  height: 100px;
}

.inputGroup {
  position: relative; 
}

.inputGroup .line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.textareaGroup {
  position: relative;
}

.textareaGroup .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.textareaGroup textarea:focus + .line {
  width: 100%;
}

.inputGroup input:focus + .line {
  width: 100%;
}


.buttonSend {
  background: #d32f2f;
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  gap: 8px;
}

.buttonSend:hover {
  background: #ff4b4b;
}

.buttonSend svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonSend:hover svg {
  transform: translateX(1.2em) scale(1.1);
}

.contentMoreInfo {
  background: #0e0e0e;
  padding: 2rem;
  flex: 0.8;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.contentMoreInfo h4 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.contentIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.contentIcons svg {
  color: #d32f2f;
}

.contentText p {
  color: #aaa;
  font-size: 1rem;
  margin-top: 1.4rem;
}
