.containerContact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 8vh;
  position: relative;
}

.containerContact h2 {
  font-size: 4rem;
  margin-top: 120px;
  color: var(--gray-200);
}

.contentForm {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 25px var(--gray-600);
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.form {
  background: var(--gray-900);
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  border-radius: 10px 0px 0px 10px;
}

.inputGroup,
.textareaGroup {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.inputGroup label,
.textareaGroup label {
  font-size: 1.1rem;
  color: var(--gray-200);
}

.inputGroup span,
.textareaGroup span {
  color: var(--violet-200);
}

.inputGroup input,
.textareaGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--violet-400);
  color: var(--gray-300);
  padding: 4px 2px;
  outline: none;
  font-size: 1.2rem;
}

.textareaGroup textarea {
  resize: none;
  height: 100px;
}

.inputGroup {
  position: relative;
}

.inputGroup .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.textareaGroup {
  position: relative;
}

.textareaGroup .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.textareaGroup textarea:focus + .line {
  width: 100%;
}

.inputGroup input:focus + .line {
  width: 100%;
}

.buttonSend {
  background: var(--violet-400);
  color: var(--white);
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  gap: 8px;
}

.buttonSend:hover {
  background: var(--violet-500);
}

.buttonSend svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonSend:hover svg {
  transform: translateX(1.2em) scale(1.1);
}

.contentMoreInfo {
  background: var(--gray-950);
  padding: 2rem;
  flex: 0.8;
  border-radius: 0px 10px 10px 0px;
}

.contentMoreInfo h4 {
  font-size: 1.2rem;
  color: var(--gray-200);
  text-align: center;
  margin-bottom: 2rem;
}

.contentIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.contentIcons p {
  color: var(--gray-300);
}

.contentIcons p a {
  color: var(--gray-300);
  transition: color 0.3s ease;
}

.contentIcons p a:hover {
  color: var(--gray-400);
}

.contentIcons svg {
  color: var(--violet-400);
}

.contentText p {
  color: var(--gray-300);
  font-size: 1rem;
  margin-top: 1.4rem;
}

/*=== RESPONSIVE ===*/
@media (max-width: 1024px) {
  .contentForm {
    width: 85%;
  }

  .containerContact h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .containerContact {
    gap: 5vh;
  }

  .containerContact h2 {
    font-size: 2.5rem;
    margin-top: 60px;
  }

  .contentForm {
    flex-direction: column;
    align-items: center;
    width: 80%;
    box-shadow: none;
  }

  .form {
    border-radius: 10px 10px 0 0;
    width: 100%;
    box-shadow: 0 0 25px var(--gray-600);
  }

  .contentMoreInfo {
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 5px 25px var(--gray-600);
  }

  .contentIcons {
    justify-content: center;
  }

  .contentText p {
    text-align: center;
  }
}

@media (max-width: 628px) {
  .contentForm {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .containerContact h2 {
    font-size: 2rem;
  }

  .contentForm {
    width: 75%;
  }

  .form {
    gap: 3vh;
  }

  .inputGroup label,
  .textareaGroup label {
    font-size: 1rem;
  }

  .inputGroup input,
  .textareaGroup textarea {
    font-size: 1rem;
  }

  .buttonSend {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}

@media (max-width: 398px) {
  .contentForm {
    width: 65%;
  }

  .contentMoreInfo h4 {
    font-size: 1.2rem;
    color: var(--gray-200);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .contentIcons {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .inputGroup label,
  .textareaGroup label {
    font-size: 1rem;
  }

  .inputGroup input,
  .textareaGroup textarea {
    font-size: 1rem;
  }

  .buttonSend {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}
