.containerContact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 8vh;
  position: relative;
}

.containerContact h2 {
  font-size: 4rem;
  margin-top: 120px;
  color: var(--gray-200);
}

.contentForm {
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: 0 0 25px var(--gray-600);
  border-radius: 10px;
}

.form {
  background: var(--gray-900);
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  border-radius: 10px 0px 0px 10px;
}

.inputGroup,
.textareaGroup {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.inputGroup label,
.textareaGroup label {
  font-size: 1.1rem;
  color: var(--gray-200);
}

.inputGroup span,
.textareaGroup span {
  color: var(--violet-200);
}

.inputGroup input,
.textareaGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--violet-400);
  color: var(--gray-300);
  padding: 4px 2px;
  outline: none;
  font-size: 1.2rem;
}

.textareaGroup textarea {
  resize: none;
  height: 100px;
}

.inputGroup {
  position: relative;
}

.inputGroup .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.textareaGroup {
  position: relative;
}

.textareaGroup .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.textareaGroup textarea:focus + .line {
  width: 100%;
}

.inputGroup input:focus + .line {
  width: 100%;
}

.buttonSend {
  background: var(--violet-400);
  color: var(--white);
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  gap: 8px;
}

.buttonSend:hover {
  background: var(--violet-500);
}

.buttonSend svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonSend:hover svg {
  transform: translateX(1.2em) scale(1.1);
}

.contentMoreInfo {
  background: var(--gray-950);
  padding: 2rem;
  flex: 0.8;
  border-radius: 0px 10px 10px 0px;
}

.contentMoreInfo h4 {
  font-size: 1.2rem;
  color: var(--gray-200);
  text-align: center;
  margin-bottom: 2rem;
}

.contentIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.contentIcons p {
  color: var(--gray-300);
}

.contentIcons svg {
  color: var(--violet-400);
}

.contentText p {
  color: var(--gray-300);
  font-size: 1rem;
  margin-top: 1.4rem;
}

/*=== RESPONSIVE ===*/
