.containerDetail {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 60px 0px;
}

.contentButton {
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  justify-content: flex-start;
}

.button {
  background: var(--gray-200);
  color: var(--black);
  width: 10rem;
  height: 3rem;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.iconContainer {
  background: var(--gray-700);
  border-radius: 0.75rem;
  color: var(--gray-200);
  height: 2.5rem;
  width: 25%;
  position: absolute;
  left: 0.25rem;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
  z-index: 20;
}

.button:hover .iconContainer {
  width: 150px;
}

.text {
  transform: translateX(0.5rem);
  z-index: 10;
  transition: color 0.3s ease;
}

/*=== PRIMER SECCIÓN ===*/
.firstSection {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 60px;
  padding: 0px 40px;
}

.contentMainImage {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.mainImage {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  filter: brightness(0.8);
}

.contentAboutProyect {
  flex: 1 1 45%;
}

.titleAboutProyect {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--violet-300);
}

.textAboutProyect {
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--gray-200);
  text-align: justify;
}

/*=== SEGUNDA SECCIÓN ===*/
.secondSection {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
  padding: 0px 40px;
}

.containerTechnologiesProject {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  gap: 90px;
}

.contentSecondImage {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.contentThree {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.secondImage {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  filter: brightness(0.8);
}

.thirdImage {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  filter: brightness(0.8);
}

.contentTechnologiesProject {
  flex: 1 1 55%;
}

.titleTechProyect {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--violet-300);
}

.contentTextTechProyect {
  font-size: 1.2rem;
  color: var(--gray-200);
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.contentTextTechProyect p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--gray-200);
  text-align: justify;
}

.containerLinks {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.containerLinks h4 {
  font-size: 2.5rem;
  margin-top: 50px;
  color: var(--violet-300);
}

.containerLinks p {
  font-size: 1.2rem;
  color: var(--gray-200);
}

.containerLinks a {
  color: var(--gray-200);
  font-weight: 500;
  transition: color 0.3s ease;
}

.containerLinks a:hover {
  color: var(--gray-400);
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 1462px) {
  .secondImage {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1360px) {
  .textAboutProyect {
    font-size: 1.1rem;
  }
  .containerTechnologiesProject p {
    font-size: 1.1rem;
  }

  .containerLinks p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1248px) {
  .titleAboutProyect {
    font-size: 2.2rem;
  }
  .titleTechProyect {
    font-size: 2.2rem;
  }
  .containerLinks h4 {
    font-size: 2.2rem;
  }
  .thirdImage {
    width: 90%;
  }
}

@media screen and (max-width: 1198px) {
  .firstSection {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .contentAboutProyect {
    flex: unset;
    width: 85%;
  }

  .contentMainImage {
    flex: unset;
    width: 85%;
  }

  .mainImage {
    max-width: 85%;
    height: auto;
  }

  .titleAboutProyect {
    font-size: 2rem;
  }

  .textAboutProyect {
    font-size: 1.1rem;
    text-align: justify;
  }

  .containerTechnologiesProject {
    flex-direction: column;
    gap: 50px;
    padding: 0;
  }

  .containerTechnologiesProject p {
    text-align: justify;
  }

  .contentTechnologiesProject {
    width: 90%;
    text-align: center;
  }

  .titleTechProyect {
    font-size: 2rem;
  }

  .secondSection {
    gap: 0px;
  }

  .contentSecondImage {
    width: 90%;
  }

  .contentThree {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .thirdImage {
    width: 100%;
  }

  .containerLinks h4 {
    font-size: 2rem;
    text-align: center;
  }

  .containerLinks p {
    font-size: 1.1rem;
    text-align: center;
  }

  .contentButton {
    margin-left: 20px;
  }

  .button {
    width: 8rem;
    height: 2.6rem;
    font-size: 1rem;
  }

  .iconContainer {
    height: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .firstSection {
    padding: 0px 20px;
    gap: 30px;
  }

  .titleAboutProyect {
    font-size: 1.8rem;
  }

  .textAboutProyect {
    font-size: 1rem;
  }

  .titleTechProyect {
    font-size: 1.8rem;
  }

  .contentTextTechProyect p {
    font-size: 1rem;
    text-align: justify;
  }

  .containerLinks h4 {
    font-size: 1.8rem;
  }

  .containerLinks p {
    font-size: 1rem;
  }

  .mainImage,
  .secondImage {
    max-width: 100%;
    height: auto;
  }

  .contentButton {
    margin-left: 10px;
  }

  .button {
    width: 7rem;
    height: 2.4rem;
    font-size: 0.9rem;
  }

  .iconContainer {
    height: 1.93rem;
    width: 28%;
  }

  .button:hover .iconContainer {
    width: 105px;
  }
}

@media screen and (max-width: 480px) {
  .containerDetail {
    padding: 10px 0 40px 0;
  }

  .contentButton {
    margin-left: 20px;
  }

  .button {
    width: 6.5rem;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .iconContainer {
    height: 1.9rem;
    width: 28%;
  }

  .button:hover .iconContainer {
    width: 95px;
  }

  .firstSection,
  .secondSection {
    padding: 0 15px;
    gap: 25px;
  }

  .titleAboutProyect,
  .titleTechProyect,
  .containerLinks h4 {
    font-size: 1.5rem;
  }

  .textAboutProyect,
  .contentTextTechProyect p,
  .containerLinks p {
    font-size: 0.9rem;
  }

  .mainImage,
  .secondImage {
    border-radius: 12px;
    filter: brightness(0.9);
  }

  .thirdImage {
    width: 93%;
    margin-left: 10px;
  }

  .containerLinks {
    align-items: center;
    padding: 10px;
  }

  .containerLinks a {
    word-break: break-word;
  }
}

@media screen and (max-width: 320px) {
  .titleAboutProyect,
  .titleTechProyect,
  .containerLinks h4 {
    font-size: 1.3rem;
  }

  .textAboutProyect,
  .contentTextTechProyect p,
  .containerLinks p {
    font-size: 0.8rem;
  }

  .button {
    width: 6rem;
    font-size: 0.8rem;
  }
}
