.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.contentIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.icon a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--gray-50);
}

.icon a:hover {
  color: var(--gray-400);
}

.icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--gray-400);
}

/*=== MENÚ ===*/
.contentMenuOptions {
  position: fixed;
  top: 0;
  left: 80%;
  height: 100vh;
  color: var(--gray-50);
  z-index: 999;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease forwards;
}

.cancelButton {
  text-align: end;
  padding: 20px 20px 0px 0px;
}

.cancelButton svg {
  margin: 15px 40px 15px 0px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cancelButton svg:hover {
  color: var(--gray-400);
}

.content {
  display: flex;
  height: 100%;
}

.containerOptions {
  width: 20vw;
  background: var(--gray-800);
  animation: slideIn 0.5s ease forwards;
}

.list {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 4vh;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.option,
.selected {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.option a {
  text-decoration: none;
  color: var(--gray-50);
  transition: color 0.3s ease;
}

.option a:hover {
  color: var(--gray-400);
}

.selected a {
  text-decoration: none;
  color: var(--gray-400);
}
/* 
.selected a:hover {
  text-decoration: none;
  color: var(--gray-400);
} */

.submenu {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  text-align: start;
  left: 5%;
  top: 300%;
}

.submenu li {
  font-weight: 500;
  font-size: 2rem;
  color: var(--gray-50);
  cursor: pointer;
  transition: color 0.3s ease;
}

.submenu li:hover {
  color: var(--gray-400);
}

.submenu li a {
  text-decoration: none;
  color: var(--gray-50);
  transition: color 0.3s ease;
  cursor: pointer;
}

.submenu li a:hover {
  color: var(--gray-400);
}

/*=== ANIMACIONES ===*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/*=== RESPONSIVE ===*/
