.containerCard {
  background: var(--gray-900);
  border: 1px solid var(--violet-300);
  border-radius: 18px;
  padding: 1.5rem;
  width: 600px;
  height: 300px;
  box-shadow: 0 0 10px var(--violet-300);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.containerCard:hover {
  border-color: var(--violet-200);
  box-shadow: 0 0 30px var(--violet-300);
  transform: translateY(-4px);
}

.contentTitle {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--violet-300);
  margin-bottom: 0.5rem;
}

.contentImg img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--white);
  padding: 2px;
}

.contentData {
  font-size: 1.1rem;
  color: var(--violet-100);
  color: var(--gray-300);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.contentData p {
  margin: 0;
  opacity: 0.8;
}

.contentDates {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 1668px) {
  .containerCard {
    width: 400px;
    height: auto;
    padding: 1.2rem;
  }

  .contentImg img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 1478px) {
  .containerCard {
    width: 450px;
    height: auto;
    padding: 1rem;
  }

  .title {
    font-size: 1.35rem;
  }

  .contentImg img {
    width: 110px;
    height: 110px;
  }

  .contentData {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1310px) {
  .containerCard {
    width: 400px;
    height: auto;
    padding: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .contentData {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1024px) {
  .containerCard {
    width: 400px;
    height: auto;
    padding: 1.2rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .contentImg img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .containerCard {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}

@media screen and (max-width: 628px) {
  .title {
    font-size: 1.1rem;
  }

  .contentImg img {
    width: 100px;
    height: 100px;
  }

  .contentData {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .containerCard {
    width: 100%;
    padding: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .contentImg img {
    width: 80px;
    height: 80px;
  }

  .contentData {
    font-size: 0.85rem;
  }

  .contentData p {
    margin: 0;
    opacity: 0.8;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
}
