.icon {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  animation: float 2s ease-in-out infinite,
    colorShift 5s linear infinite alternate;
}

/*=== ANIMACIONES ===*/
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes colorShift {
  0% {
    color: var(--pink-100);
  }
  25% {
    color: var(--pink-200);
  }
  50% {
    color: var(--yellow-100);
  }
  75% {
    color: var(--pink-100);
  }
  100% {
    color: var(--pink-200);
  }
}

/*=== RESPONSIVE ===*/
@media screen and (max-width: 900px) {
  .icon {
    left: 49%;
  }
}

@media screen and (max-width: 600px) {
  .icon {
    left: 48%;
  }
}

@media screen and (max-width: 500px) {
  .icon {
    left: 47%;
  }
}
