.icon {
  position: fixed;
  bottom: 20px;
  left: 50%;
  color: #957c3d;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
