/*=== GENERALES ===*/
:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

* {
  margin: 0px;
}

 body {
  background: radial-gradient(circle at 20% 30%, #000428, #1b1212),
    radial-gradient(circle at 80% 80%, #80004033, #0f0c29);
  background-color: #272761;
  color: #eaeaea;
  font-family: var(--font-sans);
} 

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




/*
Azul
#000428

Violeta
#0f0c29
*/

